.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #F5F5F5;
  color: #000;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  width: 100%;
  min-height: 100vh;
}
